.post-curso{
    width: clamp(200px, 25vw, 300px);
    min-width: 0;
    box-sizing: border-box  ;
}

.post-imagem{

  position: relative;
  aspect-ratio: 4 / 2.5;
  overflow: hidden;
  border-radius: clamp(8px, 3vw, 12px);
}

.post-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.flecha-post{
  position: absolute;
  bottom: clamp(12px, 1vw, 20px);
  right: clamp(12px, 1vw, 20px);
  background-color: #000000;
  border-radius: 50%;
  padding: 10px;
}

.postdobra1{
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 0 0 clamp(8px, 2vw, 12px) clamp(8px, 2vw, 12px);
    padding: 15px 10px 15px 10px;
     margin-top: -10px;
}

.postdobra1 h6{
    line-height: 1.2;
    margin: 0;
    font-size: clamp(16px, 2vw, 24px);
}

.postdobra1 p{
    line-height: 1.2;
    margin: 0;
    font-size: clamp(11px, 0.8vw, 16px);
}

.flecha-post img {
   width: clamp(12px, 1vw, 20px);
}


.postdobra2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 0 0 clamp(8px, 2vw, 12px) clamp(8px, 2vw, 12px);
    padding: 10px;
    margin-top: -10px;
}

.avaliacao{
    font-size: clamp(14px, 1.5vw, 18px);
    color: #FFC300;
    font-weight: bold;
}

.avaliacao span{
    font-weight: normal;
}

.promocao{
    font-size: clamp(6px, 0.4vw, 10px);
    text-align: right;
    line-height: 1.2;
}

.post-dobra2-direita{
display: flex;
    justify-content: right;
    align-items: center;
    gap: 5px;
}

.preco > strong{
    font-size: clamp(17px, 1.76vw, 30px);

}

.preco{
    font-size: clamp(7px, 1vw, 14px);
}

.secaoconteudo{
  margin: 0 clamp(20px, 5vw, 200px);
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: clamp(10px, 1vw, 20px); 
  padding: clamp(10px, 2vw, 20px);  
}